.modal {
	position:absolute;
	height:100px;
	width:100px;
	top:45%;
	left:10%;
	border:0;
	margin-left:-50px;
}

.modal__open-button {
	background:url(https://antoinemary.com/media/icon128.png) no-repeat;
	background-size:auto 100%;
	width:100%;
	height:100%;
	top:85px;
	border:0;
}

.modal__button-disabled:disabled {
	opacity: 0.5;
}